<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capture_Form_App</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1><u>Student Registration Form</u></h1>
    <div id="box">
        {% if check %}
        <h4>Hi {{name}} your age is {{age}}, you belongs from {{addr}} and this is your email_id:{{email}}.</h4>
        {% else %}
        <form action="" method="post">
            {{form.as_p}}
            {% csrf_token %}
            <input type="submit">
        </form>
        {% endif %}
    </div>
</body>
</html>